@charset "utf-8";
/* common */
body{background:#fff; color:#333; font-family:"Microsoft YaHei","微软雅黑";min-width: 1200px;}
.btn{font-size: 14px;}

/*首页接入流程内容样式*/
@font-face {
  font-family: TTTGBMedium;
  src: url(../fonts/TTTGB-Medium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}
.index-content{padding: 72px;padding-bottom: 0;}
.index-content .content-container{background: #F5F6F8;padding: 72px 0px;}
.access-process-content{background: #fff;padding: 22px 52px;width: 1200px;margin: 0 auto;}
.access-process-head{text-align: center;}
.access-process-head p{font-size: 14px;color: #666;margin-bottom: 30px;}
.access-process-head .access-process-bar ul{display: inline-block;}
.access-process-head .access-process-bar ul li{float: left;display: inline;width: 320px;position: relative;}
.access-process-head .access-process-bar ul li>a,.access-process-head .access-process-bar ul li:hover>a{font-family: TTTGBMedium;color: #ccc;cursor: pointer;}
.access-process-head .access-process-bar ul li.active>a{color: #3A84FF;}
.access-process-head .access-process-bar ul li>a>span{width: 70px;height: 70px;background: #fff;border: 4px solid #ccc;display: inline-block;border-radius: 100%;line-height: 62px;font-size: 40px;}
.access-process-head .access-process-bar ul li.active>a>span{border-color: #3A84FF;}
.access-process-head .access-process-bar ul li>a>h4{font-size: 30px;margin-top: 14px;margin-bottom: 50px;}
.access-process-head .access-process-bar ul li:after{content: '';display: block;width: 100%;height: 1px;position: absolute;top: 21%;left: 61%;border: 1px dashed #ccc;z-index: 0;}
.access-process-head .access-process-bar ul li:last-child:after{display: none;}


.access-process-body .body-box{display: flex;width: 100%;}
.access-process-body .body-left{width: 280px;min-height: 400px;display: inline-block;background: #ECEDF0;padding: 38px 15px;}
.access-process-body .body-left ul li{padding: 10px 10px; background: #ecedf0; margin-bottom: 10px; border-radius: 4px;}
.access-process-body .body-left ul li>a{color: #333;cursor: pointer;}
.access-process-body .body-left ul li:hover>a{color: #3A84FF;}
.access-process-body .body-left ul li>span{display: inline-block;width: 24px;height: 24px;background: #3A84FF;font-size: 16px;color: #fff;text-align: center;border-radius: 100%;margin-right: 10px;}
.access-process-body .body-left ul li.active{background: #3A84FF;}
.access-process-body .body-left ul li.active>a{color: #fff;}
.access-process-body .body-left ul li.active>span{background: #fff;color: #3A84FF;}
.access-process-body .body-right{display: inline-block;background: #F5F6F8;flex: 1;}
.access-process-body .body-box.hidden{display: none;}

.content-item.hidden{display: none; }  
.body-right .item-box{padding: 40px;}
.body-right .item-box .item-box-head{font-size: 24px;color: #333;font-weight: bold;margin-bottom: 20px;}
.body-right .item-box .item-box-head span{font-size: 14px;color: #fff;padding: 1px 11px;background: #FF7474;border-radius: 4px;font-weight: normal;vertical-align: top;display: inline-block;margin-top: 7px;}
.body-right .item-box .item-box-head i.fa{float: right;color: #ccc;}
.body-right .item-box .item-box-body p{font-size: 16px;line-height: 32px;}
.body-right .item-box .item-box-body ul.file-list{border-top: 1px solid #ccc;padding-top: 20px;}
.body-right .item-box .item-box-body ul.file-list li>span{width: 8px;height: 8px;background: #3A84FF;border-radius: 100%;display: inline-block;margin-right: 10px;}


/*文档接入*/
.doc-body{background: #FAFAFA;}
.doc-content{width: 1200px;margin:0 auto;}
.content-panel{display: flex;width: 100%;}
.content-panel .content-panel-left{width: 260px;border-right: 1px solid #E5E5E5;height: calc(100vh - 61px);padding-right: 15px;}
.content-panel .content-panel-right{flex: 1;}
.content-panel-left .business-title{font-size: 14px;color: #333;height: 60px;line-height: 60px;}

.p-logo{position:relative; width:40px; height:40px; display:inline-block; vertical-align:top; background:#e9eef2; border-radius:4px; text-align:center; line-height:2.5rem; font-size:14px; color:#57626c;}
.p-logo>i{color:#7c8b99; font-size:1.375rem; line-height:inherit;}
.p-logo:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; line-height:inherit; font-size:inherit; text-align:center; content:attr(firstname);}
.p-logo img{position:relative; width:100%; height:100%; border-radius:inherit; vertical-align:top;}

.business-list ul li{border-radius: 4px;border:1px solid #E5E5E5;padding: 10px;cursor: pointer;}
.business-list ul li .product-logo{position: relative;padding-left: 50px;}
.business-list ul li .product-logo .p-logo{position: absolute;left: 0;top: 0;}
.business-list ul li .product-logo .p-name{white-space: nowrap;font-size: 14px;}
.business-list ul li .product-logo .p-department{color:#7c8b99;font-size: 12px;}
.business-list ul li .product-logo i.fa{position: absolute;top: 13px;right: 5px;}
.business-list .sec-business-list{display: none;box-shadow:0px 10px 20px rgba(0,0,0,0.1);border-radius:4px;border:1px solid rgba(229,229,229,1);margin-top: 10px;}
.business-list .sec-business-list ul li{border:none;border-radius: 0;border-bottom: 1px solid #F2F2F2;}
.business-list .sec-business-list ul li:last-child{border-bottom: none;}
.business-list .sec-business-list ul li:hover{background: #f3f7fc;}
.business-list.open .sec-business-list{display: block;}
.business-list.open ul li .product-logo i.fa{-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}

.content-panel-right .not-add-doc{font-size: 14px;color: #666;padding-top: 40px;}
.doc-access-head{border-bottom: 1px solid #E5E5E5;}
.doc-access-head .nav-sign{display: inline-block;margin-bottom: -6px;}
.doc-access-head .nav-sign .nav-sign-item{display: inline;float: left;margin-right: 40px;padding: 16px 0;}
.doc-access-head .nav-sign .nav-sign-item:last-child{margin-right: 0;}
.doc-access-head .nav-sign .nav-sign-item a{font-size: 16px;color: #333;cursor: pointer;}
.doc-access-head .nav-sign .nav-sign-item.active{border-bottom: 2px solid #3A84FF;}
.doc-access-head .nav-sign .nav-sign-item.active a,.doc-access-head .nav-sign .nav-sign-item:hover a{color: #3A84FF;}

.doc-access-body{padding: 30px;padding-bottom: 0;}
.doc-access-body .service-box{margin-bottom: 50px;}
.doc-access-body .service-box .ttile{font-size: 18px;padding-left: 10px;border-left: 3px solid #3A84FF;font-weight: 600;height: 20px;line-height: 20px;margin-bottom: 24px;}
.doc-access-body .service-box .service-list{padding-bottom: 24px;}
.doc-access-body .service-box:last-child{margin-bottom: 0px;}
.doc-access-body .service-box:last-child .service-list:last-child{margin-bottom: 0px;}
.doc-access-body .service-box .service-list .service-list-head{font-size: 16px;margin-bottom: 8px;}
.doc-access-body .service-box .service-list ul li{border:1px solid #E5E5E5;padding: 10px;cursor: pointer;width: 30%;display: inline-block;margin-right: 20px;}
.doc-access-body .service-box .service-list ul li .service-logo{position: relative;padding-left: 50px;}
.doc-access-body .service-box .service-list ul li .service-logo .s-logo{position: absolute;left: 0;top: 0;    width: 40px; height: 40px; display: inline-block; vertical-align: top; background: #e9eef2; border-radius: 4px; text-align: center; line-height: 2.5rem; font-size: 14px; color: #57626c;}
.doc-access-body .service-box .service-list ul li .service-logo .s-logo img{position:relative; width:100%; height:100%; border-radius:inherit; vertical-align:top;}
.doc-access-body .service-box .service-list ul li .service-logo .s-name{white-space: nowrap;font-size: 14px;}
.doc-access-body .service-box .service-list ul li .service-logo .s-department{color:#7c8b99;font-size: 12px;}
.doc-access-body .service-box .service-list ul li .service-logo i.fa{position: absolute;top: 0px;right: 0px;display: none;}
.doc-access-body .service-box.basic-services .service-list ul li .service-logo i.fa{color: #3A84FF;}
.doc-access-body .service-box.value-added-services .service-list ul li .service-logo i.fa{color: #5CBE7E;}
.doc-access-body .service-box.basic-services .service-list ul li:hover,
.doc-access-body .service-box.basic-services .service-list ul li.active{border-color: #3A84FF;background: #EBF3FF;}
.doc-access-body .service-box.value-added-services .service-list ul li:hover,
.doc-access-body .service-box.value-added-services .service-list ul li.active{border-color: #5CBE7E;background: #EFF9F2;}
.doc-access-body .service-box .service-list ul li.active .service-logo i.fa{display: block;}




.service-select-content{width: 100%;background: #fff;border:1px solid rgba(229,229,229,1);box-shadow:0px -10px 40px rgba(0,0,0,0.05);padding: 30px;position: fixed;bottom: 0;}
.service-select-content .no-select-service{font-size: 14px;color: #000;padding-bottom: 30px;padding-top: 10px;}
.service-select-content .sumbit{margin-top: 20px;}
.select-service-box{width: 1200px;margin: 0 auto;text-align: left;display: table;font-size: 14px;margin-bottom: 20px;}
.select-service-box .select-service-box-left{display: table-cell;vertical-align: top;width: 130px;color: #666;}
.select-service-box .select-service-box-right{display: table-cell;vertical-align: top;}
.select-service-box .select-service-box-right ul li{width: 16%;display: inline-block;}
.select-service-box .select-service-box-right ul li .service{margin-bottom: 8px;}
.select-service-box .select-service-box-right ul li .service i.fa{color: #5CBE7E;}
.select-service-box .select-service-box-right ul li .service.basic-services i.fa{color: #3A84FF;}


.recommend-combination{background: #fff;border:1px solid #E5E5E5;box-shadow:0px 20px 40px rgba(0,0,0,0.05);margin-bottom: 50px;}
.recommend-combination .combination-head{position: relative;padding: 30px 0;border-bottom: 1px solid #E5E5E5;width: 100%;}
.recommend-combination .combination-head .head-left{display: table;padding-left: 10px;}
.recommend-combination .combination-head .head-left .combination-logo{width: 80px;margin-left: 20px;display: table-cell;text-align: center;vertical-align: middle;}
.recommend-combination .combination-head .head-left .combination-txt{display: table-cell;vertical-align: middle;}
.recommend-combination .combination-head .head-left .combination-txt h3{font-size: 24px;margin-bottom: 6px;}
.recommend-combination .combination-head .head-left .combination-txt p{font-size: 14px;margin-bottom: 0;color: #999;}
.recommend-combination .combination-head .btn{position: absolute;top: 38px;right: 30px;font-size: 16px;border-radius: 2px;}
.recommend-combination .combination-head .type{margin-left: 20px;margin-top: 10px;}
.recommend-combination .combination-head .type label{font-size: 12px;color: #3A84FF;padding: 0px 6px;border:1px solid #3A84FF;background: rgba(58, 132, 255, 0.1);margin-right: 6px;}

.combination-body{padding: 30px;}
.combination-body .title{font-size: 16px;color: #999;margin-bottom: 12px;}
.combination-body .service{margin-bottom: 20px;}
.combination-body .service ul li{width: 24%;display: inline-block;font-size: 14px;margin-bottom: 14px;}
.combination-body .service ul li span{width: 8px;height: 8px;background: #eee;border-radius: 100%;margin-right: 6px;display: inline-block;vertical-align: middle;}
.combination-body .service.basic-services ul li span{background: #3A84FF;}
.combination-body .service.value-added-services ul li span{background: #5CBE7E;}

.form-content .form-control{display: inline-block;width: 74%;}